In [2]:
"""
Created on Thu Sep 22 13:06:00 2022

# Explorative Data Analysis Workshop 1  (Statistics for DS)


The instructions in this file assume that you are using Spyder by Anaconda. 
They might be different if you are using Jupyler. For example: Jupyler prints
all columns when you use the command df.head(). Spyder just prints some columns, 
it is desirable to use the Variable Explorer instead. 


# Objective:
    1.- Execute a simple EDA.
    2.- Clean DATA
    3.- Plot Distributions and Box Plots
    4.- Proof that there is a relationship between area and house cost.
    5.- Plot a Categorial Data
    6.- Plot a Correlation Matrix
 
    
@author: Alejandro Murrieta-Mendoza
"""
# 0: Import all your required libreries 
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./salaries.csv")
df_original = df.copy()

In [10]:
columns = ["timestamp", "age", "industry", "job_title", "job_title_info", "salary", "additional_comp", "currency", "other_curr", "additional_context", "country", "us_state", "city", "overall_exp", "job_exp", "education", "gender", "race"]

header_df = pd.DataFrame({
    "header": columns,
    "description": df.keys()
})


header_df.head()

           header     description
0       timestamp       timestamp
1             age             age
2        industry        industry
3       job_title       job_title
4  job_title_info  job_title_info

In [12]:
df.columns = columns
data_head = df.head()

data_head

,timestamp,age,industry,job_title,job_title_info,salary,additional_comp,currency,other_curr,additional_context,country,us_state,city,overall_exp,job_exp,education,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [15]:
shape = df.shape

print(f"Variables: {shape[1]}, Datapoints: {shape[0]}")
print(f"Continuous: Timestamp, Salary, Additional compensation")
print(f"Discrete: Age, Overall experience, Job experience")
print(f"Categorical: Industry, Job_title, Currency, Country, US State, City, Education, Gender, race")

df.dtypes.astype(str).value_counts()

Variables: 18, Datapoints: 27981
Continuous: Timestamp, Salary, Additional compensation
Discrete: Age, Overall experience, Job experience
Categorical: Industry, Job_title, Currency, Country, US State, City, Education, Gender, race

object     17
float64     1
Name: count, dtype: int64